body {
    background-image: url("../assets/imgs/backgrounds/accessories_back.png");
    background-repeat: no-repeat;
    font-family: SF-REG;
    background-position: right bottom;
    background-size: 20%;
}

#content {
    margin-left: 15%;
    margin-right: 15%;
}

.accessories_collection {
    display: grid;
    grid-template-areas: "c1 c2" "c3 c4";
}

.accessories_collection .accessories_collection_cell:nth-child(1) {
    grid-area: c1;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.accessories_collection .accessories_collection_cell:nth-child(2) {
    grid-area: c2;
    border-bottom: 2px solid black;
}

.accessories_collection .accessories_collection_cell:nth-child(3) {
    grid-area: c3;
    border-right: 2px solid black;
}

.accessories_collection .accessories_collection_cell:nth-child(4) {
    grid-area: c4;
}

.accessories_collection_cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.accessories_collection_cell_left {

}

.accessories_collection_cell_left img {
    display: block;
    margin: 6% auto;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 3px 3px red;
}

.accessories_collection_cell_right {

}

.accessories_collection_cell_right h3 {
    text-align: center;
}

@media only screen and (max-width: 1000px) {

    .accessories_collection {
        grid-template-areas: "c1" "c2" "c3" "c4";
    }

    .accessories_collection .accessories_collection_cell:nth-child(1) {
        border-bottom: 2px solid black;
        border-right: none;
    }

    .accessories_collection .accessories_collection_cell:nth-child(2) {
        grid-area: c2;
        border-bottom: 2px solid black;
    }

    .accessories_collection .accessories_collection_cell:nth-child(3) {
        grid-area: c3;
        border-bottom: 2px solid black;
        border-right: none;
    }

    .accessories_collection .accessories_collection_cell:nth-child(4) {
        grid-area: c4;
    }
}
