.form_button {
    color: black;
    background-color: white;
    text-decoration: none;
    width: 110px;
    height: 25px;
    text-align: center;
    border: solid black 2px;
    margin-top: 1%;
    border-radius: 5px 5px 5px 5px;
}

.form_button:hover {
    background-color: black;
    color: white;
}

.form_field {
    border: solid black 2px;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px 5px 5px 5px;
}

