body {
    background-image: url("../imgs/home_back.jpg");
    background-repeat: no-repeat;
}
#content {
    margin-left: 15%;
    margin-right: 15%;
}

.index_content_item{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index_content_item img {

}

.index_content_item_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_content_item_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

