body {
    background-image: url("../assets/imgs/home_back.png");
    background-repeat: no-repeat;
    font-family: SF-REG;
    background-position: left top;
    background-size: 20%;
}

#content {
    margin-left: 15%;
    margin-right: 15%;
}

.index_content_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index_content_item img {
    width: 380px;
    height: 380px;
    box-shadow: 0 0 4px 4px red;
}

.index_content_item_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_content_item_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 1700px) {
    .index_content_item img {
        transform: scale(0.8);
    }
}

