header {
    height: 30%;
}

#nav_menu {
    margin-left: 2%;
    margin-right: 17%;
    display: grid;
    grid-template-columns: 0.5fr 1.25fr;
}

#logo_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo_div img {

}

#logo_div img:hover {
    animation-name: logo_rotate;
    animation-duration: 1s;
}

#right_div {
    display: flex;
    justify-content: left;
    align-items: center;
}

#right_div_content {

}

#title_div {
    display: block;
}

#right_div h1 {
    text-align: center;
    font-size: 300%;
}

#nav_div {

}

#nav_div nav {

}

#nav_div nav .selected {
    background-color: black;
    color: white;
}

#nav_div nav a {
    display: inline-block;
    color: red;
    background-color: white;
    text-decoration: none;
    width: 110px;
    height: 25px;
    text-align: center;
    border: solid black 2px;
    padding-top: 1%;
    margin-top: 1%;
    border-radius: 5px 20px 5px 20px;
}

#nav_div nav a:hover {
    background-color: gray;
    color: white;
}

#content {
    margin-bottom: 1%;
}

#content .button {
    display: block;
    color: black;
    background-color: white;
    text-decoration: none;
    width: 110px;
    text-align: center;
    border: solid black 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    border-radius: 5px 5px 5px 5px;
}

#content .button:hover {
    background-color: black;
    color: white;
}

#content img {
    animation-name: image_scale;
    animation-duration: 1s;
    border-radius: 15px 15px 15px 15px;
}

@keyframes image_scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes logo_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

